* {
    font-family: "Roboto Light", sans-serif;
}

#manage-members:hover,
#manage-books:hover,
#issue-books:hover,
#handle-returns:hover {
    background-color: rgba(187, 167, 131, 0.5) !important;
    color: white;
}

#search-field, #search-field-label {
    color: white !important;
}